#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid 2px blueviolet;
}
#container div {
    border: solid 2px blueviolet;
    width: 200px;
    height: 200px;
    align-content: center;
}
.quadrado {
    font-size: 80px;
    color: rgb(255, 255, 255);
}